
body{
    background-color: aquamarine;
}

h1{
    color: coral;
    background-color: cornsilk;
    font-family: 'Special Elite', fantasy;
}

#show_sketch{
    float: right;
}

#sketch_name{
    float: right;
    color: antiquewhite;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 150px;
 box-shadow: 5px 5px 5px gray;
 box-shadow: 1px 1px 38px white;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px gray;}
    to {box-shadow: 1px 1px 38px white;}

}

p,span {
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Special Elite', fantasy;
}

#score { 
    font-size: 35px;
    margin-left: 20px;
}


#time {
     font-size:35px; float: right; margin-right: 20px; }